*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.scolling-h{
    background-image: linear-gradient(to left, #a13bf4 0%, #453a94 ,#010A11 100%);

}
.container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;

}

.container section{
    min-width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    // background-image: linear-gradient(to left, #a13bf4 0%, #453a94 ,#010A11 100%);

}

// .container section:nth-child(2){
    // background: coral;
// }

// .container section:nth-child(3){
    // background: rgb(158, 89, 63);
// }
// .container section:nth-child(4){
    // background: rgb(27, 20, 18);
// }

.container section .content{
    
    max-width: 800px;
    padding: 40px;
    text-align: center;
    
}

.container section .content p{
    text-align: justify;
    font-size: 1em;
}

.back{
    background: radial-gradient(200px, rgb(196, 44, 183), #282529 25% ,#010A11,#010A11, rgb(196, 44, 183));
    border: none;
    border-radius: 50%;
    box-shadow: -5px -5px 5px rgba(255, 255, 255, 0.1),
                10px 10px 10px rgba(0,0,0, 0.4);
    margin: 20px;             
    width:10vmin; height:10vmin;
    i{
        color: #fff;
        font-size: 40px;
    }
}


/*voir +*/
.more{
    position: fixed;
    bottom: 10vh;
    left: 40%;
    //border: solid 1px #fff;
    //border-radius: 20px;
    //background: transparent;
    color: #fff;
    text-align: center;
    //padding: 20px;
    // transform: translateX(50%);
}

@media (max-width : 991px){
    .container{
        position: absolute;
        display: flex;
        flex-direction: column;
        height: auto;
        transform: none !important;
        margin-top: 10vh;
    }

    .container section{
        display: flex;
        flex-direction: column;
    }
    .more{
        display: none;
    }
    .back i{
        font-size: 15px;
    }
}
