<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Héléna Roussel | CGU - Conditions Générales d'Utilisation</title>

</head>

<body>
    <img class="logo ml-2 mt-2" src="../images/logo.jpg" height="60px" alt="logo Shoes your Partner">
    
    <h1 class="countheads">Conditions générales d'utilisation - Données personnelles</h1>
    <h2>Design your privacy</h2>

    <br>

    <h3 class="nocount"><u>Définitions</u> :</h3>
    <p>
        <b>L'Éditeur</b> : La personne, physique ou morale, qui édite les services de communication au public en
        ligne.<br>
        <b>Le Site</b> : L'ensemble des sites, pages Internet et services en ligne proposés par l'Éditeur.<br>
        <b>L'Utilisateur</b> : La personne utilisant le Site et les services.<br>
    </p>


    <h3>Nature des données collectées</h3>
    <p><b>Dans le cadre de l'utilisation des Sites, l'Éditeur est susceptible de collecter les catégories de données
            suivantes concernant ses Utilisateurs :</b></p>
    <div id="C0Q1">
        <p>
            Données d'état-civil, d'identité, d'identification...
        </p>
    </div>




    <div id="C1Q1"></div>


    <div id="C1Q2"></div>




    <div id="C2Q1"></div>


    <div id="C3Q1"></div>


    <div id="C4Q1"></div>


    <h3>Agrégation des données</h3>
    <p><b>Agrégation avec des données non personnelles</b>
        <br>
        Nous pouvons publier, divulguer et utiliser les informations agrégées (informations relatives à tous nos
        Utilisateurs ou à des groupes ou catégories spécifiques d'Utilisateurs que nous combinons de manière à ce qu'un
        Utilisateur individuel ne puisse plus être identifié ou mentionné) et les informations non personnelles à des
        fins d'analyse du secteur et du marché, de profilage démographique, à des fins promotionnelles et publicitaires
        et à d'autres fins commerciales.</p>

    <p><b>Agrégation avec des données personnelles disponibles sur les comptes sociaux de l'Utilisateur</b>
        <br>
        Si vous connectez votre compte à un compte d’un autre service afin de faire des envois croisés, ledit service
        pourra nous communiquer vos informations de profil, de connexion, ainsi que toute autre information dont vous
        avez autorisé la divulgation. Nous pouvons agréger les informations relatives à tous nos autres Utilisateurs,
        groupes, comptes, aux données personnelles disponibles sur l’Utilisateur.</p>



    <div id="C6Q1"></div>


    <div id="C7Q1"></div>



    <div id="C8Q1"></div>


    <div id="C9Q1"></div>


    <h3>Cookies</h3>
    <p><b>Durée de conservation des cookies</b>
        <br>
        Conformément aux recommandations de la CNIL, la durée maximale de conservation des cookies est de 13 mois au
        maximum après leur premier dépôt dans le terminal de l'Utilisateur, tout comme la durée de la validité du
        consentement de l’Utilisateur à l’utilisation de ces cookies. La durée de vie des cookies n’est pas prolongée à
        chaque visite. Le consentement de l’Utilisateur devra donc être renouvelé à l'issue de ce délai.</p>

    <p><b>Finalité cookies</b><br>
        Les cookies peuvent être utilisés pour des fins statistiques notamment pour optimiser les services rendus à
        l'Utilisateur, à partir du traitement des informations concernant la fréquence d'accès, la personnalisation des
        pages ainsi que les opérations réalisées et les informations consultées.<br>Vous êtes informé que l'Éditeur est
        susceptible de déposer des cookies sur votre terminal. Le cookie enregistre des informations relatives à la
        navigation sur le service (les pages que vous avez consultées, la date et l'heure de la consultation...) que
        nous pourrons lire lors de vos visites ultérieures.</p>


    <div id="C10Q1"></div>


    <h3>Conservation des données techniques</h3>
    <p>
        <b>
            Durée de conservation des données techniques
        </b>
        <br>
        Les données techniques sont conservées pour la durée strictement nécessaire à la réalisation des finalités
        visées ci-avant.
    </p>


    <h3>Délai de conservation des données personnelles et d'anonymisation</h3>

    <div id="C12Q1"></div>

    <p>
        <b>
            Suppression des données après suppression du compte
        </b>
        <br>
        Des moyens de purge de données sont mis en place afin d'en prévoir la suppression effective dès lors que la
        durée de conservation ou d'archivage nécessaire à l'accomplissement des finalités déterminées ou imposées est
        atteinte. Conformément à la loi n°78-17 du 6 janvier 1978 relative à l'informatique, aux fichiers et aux
        libertés, vous disposez par ailleurs d'un droit de suppression sur vos données que vous pouvez exercer à tout
        moment en prenant contact avec l'Éditeur.
    </p>
    <p>
        <b>
            Suppression des données après 3 ans d'inactivité
        </b>
        <br>
        Pour des raisons de sécurité, si vous ne vous êtes pas authentifié sur le Site pendant une période de trois ans,
        vous recevrez un e-mail vous invitant à vous connecter dans les plus brefs délais, sans quoi vos données seront
        supprimées de nos bases de données.
    </p>


    <h3>Suppression du compte</h3>
    <p>
        <b>
            Suppression du compte à la demande
        </b>
        <br>
        L'Utilisateur a la possibilité de supprimer son Compte à tout moment, par simple demande à l'Éditeur OU par le
        menu de suppression de Compte présent dans les paramètres du Compte le cas échéant.
    </p>

    <p>
        <b>
            Suppression du compte en cas de violation des CGU
        </b>
        <br>
        En cas de violation d'une ou de plusieurs dispositions des CGU ou de tout autre document incorporé aux présentes
        par référence, l'Éditeur se réserve le droit de mettre fin ou restreindre sans aucun avertissement préalable et
        à sa seule discrétion, votre usage et accès aux services, à votre compte et à tous les Sites.
    </p>


    <h3>Indications en cas de faille de sécurité décelée par l'Éditeur</h3>
    <p>
        <b>
            Information de l'Utilisateur en cas de faille de sécurité
        </b>
        <br>
        Nous nous engageons à mettre en oeuvre toutes les mesures techniques et organisationnelles appropriées afin de
        garantir un niveau de sécurité adapté au regard des risques d'accès accidentels, non autorisés ou illégaux, de
        divulgation, d'altération, de perte ou encore de destruction des données personnelles vous concernant.
        Dans l'éventualité où nous prendrions connaissance d'un accès illégal aux données personnelles vous concernant
        stockées sur nos serveurs ou ceux de nos prestataires, ou d'un accès non autorisé ayant pour conséquence la
        réalisation des risques identifiés ci-dessus, nous nous engageons à :
    </p>
    <ul>
        <li>Vous notifier l'incident dans les plus brefs délais ;</li>
        <li>Examiner les causes de l'incident et vous en informer ; </li>
        <li>Prendre les mesures nécessaires dans la limite du raisonnable afin d'amoindrir les effets négatifs et
            préjudices pouvant résulter dudit incident</li>
    </ul>
    <p></p>

    <p>
        <b>
            Limitation de la responsabilité
        </b>
        <br>
        En aucun cas les engagements définis au point ci-dessus relatifs à la notification en cas de faille de sécurité
        ne peuvent être assimilés à une quelconque reconnaissance de faute ou de responsabilité quant à la survenance de
        l'incident en question.
    </p>


    <div id="C15Q1"></div>



    <h3>Modification des CGU et de la politique de confidentialité</h3>
    <p>
        <b>
            En cas de modification des présentes CGU, engagement de ne pas baisser le niveau de confidentialité de
            manière substantielle sans l'information préalable des personnes concernées
        </b>
        <br>
        Nous nous engageons à vous informer en cas de modification substantielle des présentes CGU, et à ne pas baisser
        le niveau de confidentialité de vos données de manière substantielle sans vous en informer et obtenir votre
        consentement.
    </p>


    <div id="C17Q1"></div>


    <div id="C18Q1"></div>
    <div class="space-up">
        <a rel="license" class="inline-block license" target="_blank"
            href="http://creativecommons.org/licenses/by-sa/4.0/">
            <img alt="Licence Creative Commons" style="border-width:0"
                src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png"></a>
        <i class="inline-block license-text">Ces CGU sont mises à disposition par<a target="_blank"
                href="http://www.aboutinnovation.com"> Aboutinnovation</a> et<a href="http://privacytech.fr"
                target="_blank"> Privacy Tech</a> selon les termes de la <a rel="license"
                href="http://creativecommons.org/licenses/by-sa/4.0/" target="_blank"> Licence Creative Commons
                Attribution - Partage dans les Mêmes Conditions 4.0 International</a>.</i></div>



</body>

</html>